
body {
	font-family: 'Indie Flower', cursive;
	font-size: 8em;
	text-shadow: 3px 3px 4px #004F8B;
	background-color: rgba(45, 71, 138, 0.3);
}

.smaller {
	font-size: 0.5em;
}

.badge {
	height: 95px;
	width: 200px;
}

a {
	font-size: 30px;
}